@font-face {
    font-family: SCFont;
    src: url(../Shoguns_Clan.ttf);
}

.center-center{
	padding-top: 5%;
	margin-left: auto;
  margin-right: auto;
}

.title{
	font-size: 7em;
	text-align: center;
	font-family: SCFont;
}

.input{
	width: 50px;
	height: 50px;
	font-size: 30px;
	text-align: center;
	padding-top: 10;
}

.table{
padding-bottom: 15px;
}


.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#loadingDiv{
         position:fixed;
  z-index: 100;  
  top:50%;  
  left:50%;  
  margin:-100px 0 0 -100px;  
  width:200px;  
  height:200px;   
    }

.blur {     
    -webkit-filter: blur(10px);     
    filter: blur(10px);  
}

#readfile{
  padding-top: 4%;
}


#show_sol, #check_btn{
  .btn-primary;
}

/* Flatten everything */
* {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
  border-collapse: collapse !important;
  background-image: none !important;
  border-radius: 0 !important;
}